{%load static%}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %} {{page_title}} {% endblock %}</title>
      <link id="win7css-stylesheet" rel="stylesheet" href="https://unpkg.com/7.css">
      <link rel="stylesheet" href="{% static 'home/base.css' %}">
      <link rel="stylesheet" href="{% static 'home/utils.css' %}">
      <link id="welcome-stylesheet" rel="stylesheet" href="{% static 'home/welcome.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   </head>
   <body class="home-body" id="base-body" hidden>
    <video class="startup" id="startup" style="display:none">
        <source src="{% static 'home/assets/startup.mp4' %}" type="video/mp4">
     </video>
      {%block content%}{%endblock%}
      <div id="start-menu-container"></div>
      <div class="music-player" id="music-player" style="display: none;">
         <audio class="audio-control" controls>
            <source src="https://streams.fluxfm.de/Chillhop/mp3-128/streams.fluxfm.de/" type="audio/mpeg">
            Your browser does not support the audio element.
         </audio>
      </div>
      <div id="vcard-popup-container" style="display:none;">
         <iframe
            class="vcard-iframe"
            height="360px"
            width="420px"
            src="https://vcard.link/card/DTOc"
            ></iframe>
      </div>
   </div>
   <ul id="mobile-tray-menu" role="menu" class="can-hover" style="width: 154px; display: none; bottom: 55px; right:5px; position:fixed;">
      <li role="menuitem">
         <img src="https://img.icons8.com/color/18/000000/monitor--v1.png"/>
         <a href="#menu">Screen resolution</a>
      </li>
      <li role="menuitem">
         <img src="https://img.icons8.com/color/18/000000/virtual-machine2.png"/>
         <a href="#menu">Gadgets</a>
      </li>
      <li role="menuitem">
         <img src="https://img.icons8.com/color/18/000000/remote-desktop.png"/>
         <a href="#menu">Personalize</a>
      </li>
   </ul>
</div>
      <div id="selection-box"></div>
   </body>
   <footer class="taskbar" id="taskbar" style="display:none">
      <div class="start-container">
         <button class="button-reset" id="start-button">
         <img src="{% static 'home/assets/start-button.png' %}" alt="Start" class="start">
         </button>
      </div>
      <div class="taskbar-buffer-1">
         <div class="holy-crap-another-container">
            <div class="icon-container">
               <div class = "button-reset">
               <img src="{% static 'home/assets/file-explorer.png' %}" alt="Folders" class="icon">
               </div>
            </div>
            <div class="icon-container">
               <div class="button-reset">
               <img src="{% static 'home/assets/notepad.png' %}" alt="Notepad" class="icon">
               </div>
            </div>
               <div class="icon-container">
               <a href="https://github.com/0x3at" target="_blank">
               <img src="{% static 'home/assets/github.svg' %}" alt="Github" class="icon">
               </a>
               </div>
         </div>
      </div>
      </div>
      <div class="taskbar-buffer-2 hide-on-mobile"></div>

      <div class="system-tray-icons hide-on-mobile">
         <div class="button-reset hide-on-mobile" id="music-toggle">
         <img src="{% static 'home/assets/music-player.png' %}" alt="M"/>
         </div>
         <div class="button-reset hide-on-mobile" onclick='Calendly.initPopupWidget({url: "https://calendly.com/bowtiedwave/quick-calls"});return false;'>
         <img src="{% static 'home/assets/calender.png' %}" alt="C"/>
         </div>
         <div class="button-reset hide-on-mobile" id="vcard-toggle">
         <img src="{% static 'home/assets/contact.png' %}" alt="C"/>
      </div>
         
      </div>
      <div class="system-tray">
         <span class="time" id="time">
            <p id="time-display" class="time-display"></p>
         </span>
         <span class="date" id="date">
            <p id="date-display" class="time-display"></p>
         </span>
      <div class="arrow-container" id="arrow-container">
         <div class="button-reset" id="arrow-button" aria-expanded="false">
            <img src="https://img.icons8.com/?size=100&id=15828&format=png&color=FFFFFF" alt="Toggle Menu" class="arrow" id="arrow">
         </div>
   </footer>
   <script src="{% static 'home/base.js' %}"></script>
   <script src="{% static 'home/utils.js' %}"></script>

{% if load_startup %}
   <script>
      console.log("First Time Visit");
      var selectionBoxEnabled = false;
      document.addEventListener('DOMContentLoaded', function(){
           toggleSelectionBox();
           const taskbar = document.getElementById('taskbar');
           handleFirstTimeVisit();
      });
   </script>
{% elif not load_startup %}
   <script>
      document.body.removeAttribute('hidden');
      console.log("Returning User");
      var selectionBoxEnabled = true;
      document.addEventListener('DOMContentLoaded', function(){
           toggleSelectionBox(true); // corrected argument
           var taskbar = document.getElementById('taskbar');
           var body = document.getElementById('base-body');
           setupReturnUserUI();
      });
   </script>
   {% endif %}
</html>