html {
    font-family: 'Asap' !important;
    text-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.1),   /* Outer shadow */
   -2px -2px 5px rgba(255, 255, 255, 0.1);
}


.home-body-blacked {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh !important;
    width: 100vw !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    position: fixed !important;
}

.home-body {
    background-image: url('assets/windows-home.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh !important;
    width: 100vw !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    position: fixed !important;
}
.taskbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    
    
    background: rgba(50, 50, 50, 0.6); 
    
    background: linear-gradient(135deg, rgba(50, 50, 50, 0.6), rgba(100, 100, 100, 0.3));
    
    backdrop-filter: blur(10px);
    
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px; 
    z-index: 999; 
}

.start {
    width: 45px;
    height: 45px;
    margin: 0 10px;
    cursor: pointer;
    object-fit: contain;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.start:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: rgba(255, 255, 255, 0.2); 
}

.start:active {
    transform: scale(1.2); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    background-color: rgba(255, 255, 255, 0.4); 
}

.icon-container {
    display: flex;                          /* Use Flexbox to center icons */
    justify-content: center;                /* Center contents horizontally */
    align-items: center;                    /* Center contents vertically */
    padding: 10px; 
    transition: background 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    width: 50%;
    height: 40%;
    margin: 0 auto; 
}    

.holy-crap-another-container{
    display: grid;                          /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
    grid-auto-rows: 1fr;                   /* Each row takes equal height */
    margin:0px;  
    gap: 0px;       
    max-width: 164px;                     /* Space between grid items */
    align-items: center; 
    justify-content: center;
}

.icon-container:hover {
    background: rgba(255, 255, 255, 0.4); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    width:50%;
    height:50%;
    
}

.icon-container:active {
    background: rgba(255, 255, 255, 0.6); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width:50%;
    height:50%;
}

.icon {
    width: 30px;    
    height: 30px;   
    object-fit: contain; 
}

.button-reset {
    background: none;        
    border: none;            
    padding: 0;              
    margin: 0;               
    box-shadow: none;        
    outline: none;           
    appearance: none;        
    cursor: pointer;         
}

.system-tray {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;  
    grid-template-areas: 
        "arrow-container time ."
        "arrow-container date ."
        ". . .";
    place-items: center;
}

.time {
    grid-area: time;
    text-align: center;
    align-items: center;
    place-self: center;
    padding-top: -5px;
}
.time-display {
    font-size: 12px; 
    font-weight: 1.5; 
    color: white;
    place-self: center;
    margin: 3px;
}
.date {
    grid-area: date;
    text-align: center;
    align-items: center;
    place-self: center;
    padding-bottom: -5px;
}

.date-display {
    font-size: 12px; 
    font-weight: 1.5; 
    color: white;
    place-self: center;
    margin:3px;
}

.system-tray-icons {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    margin-right: 10px; 
}

.system-tray-icons::before {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.7; 
    pointer-events: none; 
    flex-direction: row;
}

.system-tray-icons .button-reset {
    margin-left: 3px; 
}

.system-tray-icons img {
    width: 24px; 
    height: 24px; 
    flex-direction: row;
    filter: brightness(0.9); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 5px;
}

.system-tray-icons img:hover {
    transform: scale(1.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.system-tray-icons img:active {
    transform: scale(1.2); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.start-menu-container {
    position: fixed;
    left: 0;
    bottom: 53px;
}

.music-player {
    position: fixed;
    bottom: 50px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 999;
}

.vcard-iframe {
    position: fixed;
    bottom: 55px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-body{
    background-color: black;
    background-image: none;
}

@media (max-width: 768px) { /* Adjust the breakpoint as necessary */
    .taskbar {
        flex-direction: row; /* Ensure taskbar remains a row */
        justify-content: space-between; /* Spread items evenly */
    }

    .system-tray {
        order: 3; /* Ensure system tray appears after icons */
    }
    
    .system-tray-icons
    {
        display: none;
    }
    .taskbar-buffer-2 {
        display: none;
    }
}

.taskbar-buffer-1 {
    width: 100%;
    height: 100%;
}